@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display&display=swap');

body {
  margin: 0px 0px 0px 0px;
}

/*nav {
    flex-grow: 0;
    align-content: flex-start;

    border: 10px solid red;
    height: 100px;
}*/

main {
  display: flex;
}

aside {
  width: 20em;
/*  border-right: solid 0.35px #FFFFFF;*/
  position: fixed;
  top: 0%;
  height: 100%;
}

.sidebar {
  display: flex;
/*  justify-content: space-around;*/
  flex-direction: column;
  background: #83B0D6;
  height: 100%;
}

.logo {
  max-width: 100%;
  height:auto;
  padding-bottom: 1em;
  display: flex;
  justify-content: space-around;
}

.side-link {
  padding: 1em;
  padding-left: 2em;
}

.sidebar a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300px;
}

article {
  margin-left: 20em;
  width: 100%;
  
}

article .heading h1 {
  font-family: 'Playfair Display', serif;
  color: white;
  font-size: 4em;
  padding-right: 1em;
  padding-top: 4em;
  text-align: right;
  margin: 0em 0em;
}

.heading {
  margin-left: 0em;
  width: full;
  height: auto;
/*    background: #ffffcc;*/
  background-image: url('images/underwater-2.jpg');
  background-size: cover;
}

.content {
  padding-top: 0em;
  padding: 0em 4em 1em 4em;
}

footer {
/*  position: absolute;*/
  margin-left: 20em;
  padding: 1em 1em 2em 1em;
  align-content: flex-start;
  background: #D9D9D9;
  height: 30%;
}

.footer-content {
  display: flex;
  justify-content: space-around;
/*  border: solid 1px red;*/
  height: 100%;
}

.contact {
  padding: 1em;
}

.index {
  padding: 1em;
}