@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Inter:wght@300;531&family=Noto+Serif&display=swap');

body {
  margin: 0px 0px 0px 0px;
  font-family: 'Noto Serif', serif;
}

/* SIDE BAR CONTENT*/
aside .sidebar {
  width: 20em;
  position: fixed;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
  top: 0%;
  height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background: #3E5666; /*old colour: #98c1d9*/
  height: 100%;
}

#logo {
  display: flex;
}

.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 6em;
}

.side-link {
  padding: 1em;
  padding-top: 1em;
  padding-left: 3em;
  display: flex;
  align-items: center;
}

.side-link-text {
  padding-left: 1em;
  
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  font-family: 'Inter', sans-serif;
}

.sidebar .active {
  background: #4BA9E9;
  font-weight: bold;
}

  /* MAIN BODY => ARTICLE + FOOTER*/
main {
  margin-left: 20em;
  margin-right: 15em;
}


  /* LOCAL NAVIGATION SIDEBAR */
.local-navigation {
	position: fixed;
	left: calc(100% - 15em);
  font-size: 1.2em;
  padding-top: 1.2em;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 10%;
}

.local-navigation li {
	list-style-type: "|";
	padding: 0.4em;
}

.local-navigation li a {
  color: black;
  text-decoration: none;
}

.local-navigation .active, .local-navigation .active > a {
  color: #4BA9E9;
  font-weight: bolder;
}

#upcoming-events-snapshot {
  height: 700px;
}

#testimonials {
  height: 700px;
}

/* MAIN CONTENT (INSIDER PAGE) */
section {
  width: 100%;
  padding-top: 1em;
}

/* IMAGE HEADER + HEADER TEXT*/
header .heading h1 {
  position: relative;
  font-family: 'Bree Serif', serif;
  color: #4BA9E9;
  font-size: 4em;
  padding-top: 2%;
  margin: 0em 0em;
}

.heading {
  margin-left: 24em;
  width: calc(100% - 24em);
}

  /*PAGE CONTENTS*/
.content {
  padding: 0em 4em 1em 4em;
}

h2 {
  font-family: 'Bree Serif', serif;
  font-size: 2em;
}

/*UPCOMING EVENTS*/
.event {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: stretch;
  border: solid 2px black;
  font-size: 0.7em;
}
.event div {
  width: 100%;
}

/* REF: https://spin.atomicobject.com/2015/07/14/css-responsive-square/*/
.event .date {
  /*  padding: 1em;*/
  position: relative;
  width: 40%;
  
  display: flex;
  flex-direction: column;
  align-items: center stretch;
  align-content: center;
  padding-top: 2%;
  background: #D6D6D6; /*  color: white;*/
}

.event .day {
  font-size: 6em;
  text-align: center;
  padding: 5%;
}

.event .month {
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
  border-top: solid 2px black;
}

.event .event-details {
  display: flex;
  flex-direction: column;
  border-left: solid 2px black;
  padding: 1em;
  font-family: sans-serif;
  font-size: 1.5em;
}

.event .event-name {
  font-size: 2em;
  font-family: serif;
  padding-bottom: 0.3em;
}

.filler-text {
  display: none;
}

/*.home-page-picture {
  width: 40%;
  box-shadow: 3px 3px 10px #696969;
}*/

#contact-details-table {
  padding-left: 2.5em;
}

#contact-details-table td {
  padding-left: 1em;
}

#inquiry-form {
  display: flex;
  flex-direction: column;
}

#inquiry-form .form-names {
  display: flex;
  flex-direction: row;
/*  width: 45%;*/
}

#inquiry-form #firstName, #inquiry-form #lastName {
  width: calc(100% - 10em);
}

#inquiry-form .form-names .firstName, #inquiry-form .form-names .lastName {
/*  display: flex;*/
  width: 80%;
/*  border: 1px solid red;*/
}


.text-area {
  height: 100px;
  width: 95%;
  border: solid 1px black;
}

footer {
  padding: 1em 1em 1em 1em;
  align-content: flex-start;
  background: #D9D9D9;
  height: 30%; /*  display: none;*/
  
}

.footer-content {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

  /* MOBILE (< 1000px width) */
@media only screen and (max-width: 1000px) {
  .local-navigation {
    display: none;
  }
  
  main {
	  margin-right: 0em; /* Remove local navigation */
  }
}

@media only screen and (max-width: 700px) {
	.heading {
		margin-left: 4em;
		width: 100%;
	}
    .local-navigation, .sidebar {
      display: none;
    }
  
    main {
      margin-left: 0em; /* Remove side bar*/
	    margin-right: 0em; /* Remove local navigation */
    }
    
    #inquiry-form .form-names {
      display: flex;
      flex-direction: column;
    }
    #inquiry-form .form-names input {
      margin-right: 0px;
      margin-left: 0px;
    }
}